<div id="file-manager-container" class="mode-asset">
    <input type="hidden" id="currentFolderId" value="{{ app.request.get('currentFolderId') != null ? app.request.get('currentFolderId') : (app.request.session.get('currentFolderId') ?: 0) }}"/>
    <input type="hidden" id="currentKeyword" value="{{ app.request.get('keyword') != null ? app.request.get('keyword') : '' }}"/>
    <input type="hidden" id="currentPageNum" value="{{ app.request.get('pageNum') != null ? app.request.get('pageNum') : '' }}"/>

    <div class="row">
        <div class="{% block leftSideWidth %}col-lg-2{% endblock %}">
            <div class="panel panel-default secondary-nav-container" {% block leftSideSticky %}data-sticky-container{% endblock%} data-margin-bottom="-9999">
                <div class="panel-body">
                    <div id="js-folders"></div>
                </div>
            </div>
        </div>
        <div class="{% block rightSideWidth %}col-lg-10{% endblock %}">
            <div class="row pb-1">
                <div class="col-lg-12" style="padding: 0">
                    <div class="ibox">
                        <div class="ibox-title" style="min-height: 55px">
                            <div class="js-nav"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="js-files"></div>

            <div class="js-files-pagination">
                <ul class="nav pagination" style="border-top: none;"></ul>
            </div>
        </div>
    </div>
    <div class="extra-stuff js-extra-stuff2" style="display: none;">
        <div class="pull-left">
            <button class="btn btn-sm btn-primary js-select-all" type="button"><i class="fa fa-toggle-on"></i>&nbsp;Select all</button>
            <button class="btn btn-sm btn-outline-primary js-deselect-all" type="button"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;<span class="bold">Deselect all</span></button>
        </div>

        <div class="pull-right">
            <button class="btn btn-sm btn-success btn-outline" type="button" onclick="$.fancybox.close();"><i class="fa fa-check"></i>&nbsp;Finish</button>
        </div>
    </div>
</div>