$red: #D13D46;
$links: #ef8157;
$body-copy: #454A51;
$color-grey1: #F3F5F9;
$divider: 1px solid #e5e5e5;

#crop-image-modal {
  .image-cropper .presets > div {
    margin-left: -4px;
  }

  footer {
    text-align: right;
  }
}

.image-cropper {
  td {
    padding: .6em 1em;
    font-size: .9em;
  }
  .image-settings {
    width: 250px;
    padding: 0 20px;
  }
  .presets {
    width: 100%;
    max-width: 640px;
  }
  .presets > div {
    width: 16.666%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    margin-left: -1px;
    cursor: pointer;
    position: relative;
    text-align: center;

    span {
      height: 57px;
      display: block;
    }

    i {
      border: 2px solid #444;
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 40px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }


    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
    &.active,
    &:hover {
      background-color: rgba(0,0,0,.05);
    }

    &.active {
      background: $links;
      border-color: $links;
      color: #fff;
      text-shadow: none;
      -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.3);
      box-shadow: inset 0 2px 3px rgba(0,0,0,.3);

      i {
        border-color: #fff;
      }
    }


  }

  #preset_crop_custom {
    border-style: dotted;
  }
  #preset_crop_square i {
    width: 50px;
    height: 50px;
  }
  #preset_crop_10_8 i {
    width: 63px;
    height: 50px;
  }
  #preset_crop_4_3 i {
    width: 45px;
    height: 36px;
  }
  #preset_crop_6_4 i {
    width: 60px;
    height: 40px;
  }
  #preset_crop_16_9 i {
    width: 71px;
    height: 40px;
  }
  #preset_crop_20_9 i {
    width: 71px;
    height: 32px;
  }
}

#crop_area {
  max-width: 640px;
  height: 300px;
  overflow: hidden;
}